{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    
    <title>Ramco Institute of Technology</title>

<body>


    <div class="rit"></div>

    <div class="container">
        <form method="post" action="{% url 'signup' %}" enctype="multipart/form-data"  onsubmit="hideButton()">
        {% csrf_token %}
            <div class="form-all">
                <div class="admission">
                <span class="title"><b>SIGN UP</b></span>
<!--            
            <div class="PERSONALINFORMATION">
                <span class="title"><b>I. PERSONAL INFORMATION</b></span> -->
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="input1">Name</label>
                        <input type="text" name="Name" id="Name" class="form-control" placeholder="Enter the name" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="input2">User Name</label>
                        <input type="text" name="user_name" id="user_name" class="form-control" placeholder="Enter user_name"
                        required>                    
                    </div>
                </div>
               
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="input1">Staff_Id</label>
                        <input type="text" name="staff_id" class="form-control" placeholder="Enter Staff_Id" required/>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="input2">Department</label>
                        <select name="Department" class="form-control"  required>
                            <option  value="" disabled selected>Select</option>
                                <option value="ARTIFICIAL INTELLIGENCE AND DATA SCIENCE" name="AD">ARTIFICIAL INTELLIGENCE AND DATA SCIENCE</option>
                                <option value="CIVIL ENGINEERING" name="CE">CIVIL ENGINEERING</option>
                                <option value="COMPUTER SCIENCE AND BUSINESS SYSTEM" name="CB">COMPUTER SCIENCE AND BUSINESS SYSTEM</option>
                                <option value="COMPUTER SCIENCE AND ENGINEERING" name="CSE">COMPUTER SCIENCE AND ENGINEERING</option>
                                <option value="ELECRICAL AND ELECTRONICS ENGINEERING" name="EEE">ELECRICAL AND ELECTRONICS ENGINEERING</option>
                                <option value="ELECTRONICS AND COMMUNICATION ENGINEERING" name="ECE">ELECTRONICS AND COMMUNICATION ENGINEERING</option>
                                <option value="INFORMATION TECHNOLOGY" name="IT">INFORMATION TECHNOLOGY</option>
                                <option value="MECHANICAL ENGINEERING" name="MECH">MECHANICAL ENGINEERING</option>
                                <option value="TRANSPORT">TRANSPORT</option>
                                <option value="OFFICE">OFFICE</option>
                                <option value="HOSTEL">HOSTEL</option>
                            </select>

                     </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="input1">Email-ID</label>
                        <input type="email" name="email" class="form-control" placeholder="Enter email" required/>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="input2">Role</label>
                        <select name="role" class="form-control" required>
                            <option value="" disabled selected>Select</option>
                            <option value="GM">GM</option>
                            <option value="Boys Warden">Boys Warden</option>
                            <option value="Girls Warden">Girls Warden</option>
                            
                        </select>
                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="input1">Password</label>
                        <input type="Password" name="Password" class="form-control" placeholder="Enter Password" required/>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="input2">Confirm Password</label>
                        <input type="Password" name="confirm_Password" class="form-control" placeholder="Enter confirm_Password" required/>
                    </div>
                </div>
               
            </div>
           
            
            

        </div>
        </div>
        <div class="but" style="margin-left: 850px;">
            <button type="submit"  id="" class="btn btn-primary">Register</button>
        </form>
            
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>




</body>
</html>
